%h3#bookmark_list ブックマーク一覧
= form_for @bookmark do |f|
  = f.text_field :name
  = f.text_field :url
  = f.submit
%table.table.table-striped.table-hover.table-sm
  %thead.thead-dark
    %tr
      %td id
      %td タイトル
      %td url
      %td
  %tbody
    - @bookmarks.each do |bm|
      %tr
        %td= bm.id
        %td= bm.name
        %td
          = link_to bm.url, bm.url, target: "_blank"
        %td
          %a.edit 編集
          %a.delete 削除
